<html>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</html>
<body>
    <div class="container">
        <h2>Comments</h2>
        <hr>
        <div th:each="comment: ${comments}">
            <b th:text="${comment.author}">Comment Author</b><br/>
            <small th:text="${comment.comment}">Comment Text</small><br>---<br>
        </div>
    </div>
</body>