<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated practice1 -->
      <package
            uri="http://www.example.org/practice1"
            class="practice1.Practice1Package"
            genModel="model/practice1.genmodel"/>
   </extension>

</plugin>
